.form{
  .btn-search{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -4px;
  }
}

.form-field {
  display: flex;
  align-items: center;
  width: 100%;
  
  input.search {
    width: 100%;
    border-right: none;
  }
}


